/* 카테고리별 추천 광고상품 */
.con {
  width: 1020px;
  margin: 0 auto;
}
strong {
  color: var(--color-blue-600);
}
.flex {
  display: flex;
}
.rel {
  position: relative;
}
/* CSS */
.link {
  display: inline-block;
  padding-right: 20px; /* 화살표 공간 확보 */
  background: url("/assets/icon/angle-right-default.svg") no-repeat right center;
  background-size: 16px 16px; /* 아이콘 크기에 맞게 조정 */
  color: var(--color-gray-700); /* 텍스트 색상 */
  text-decoration: none;
  font-weight: 500;
}
h3 {
  color: var(--color-brown-300);
}
.imgInfo {
  text-align: center;
  width: 260px;
  height: 90px;
  line-height: 40px;
  color: var(--color-white);
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: var(--color-brown-300);
}
.green {
  color: var(--color-green-700);
}
.bg-green {
  background-color: var(--color-green-700);
}
.info1 {
  font-size: 18px;
}
.info2 {
  font-size: 14px;
}
.keyword {
  margin-top: 200px;
  width: 124px;
  height: 220px;
}
.tags1 {
  width: 117px;
}
.tags2 {
  width: 110px;
}
.keyword > div > div {
  display: inline-block;
  font-size: 12px;
  color: var(--color-brown-300);
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--color-gray-400);
}
.tags2 > div > a {
  color: var(--color-green-700);
}
.indicategroup {
  position: absolute;
  left: 45%;
  bottom: 5%;
}
.indicategroup span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}
.indicategroup > span:first-child {
  background: var(--color-gray-700);
}
.indicategroup > span:last-child {
  background: var(--color-gray-600);
}
.itemList {
  height: 631px;
}
.item {
  height: 50%;
}
.item > div {
  width: 160px;
  height: 300px;
}

.onSale {
  padding: 10px 0px 10px 0px;
  color: var(--color-red-500);
}

.item-info > div > img {
  margin-left: 5px;
}
